<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>GAAS - Gophers as a service</title>
    <style>
        body {
            width: 80%;
            margin: auto;
        }
        
        textarea {
            display: block;
        }
    </style>
</head>

<body>
    <h1>GAAS - Gopher memes as service.</h1>
    <form action="/image" method="GET">
        <textarea name="text" cols="32" rows="8"></textarea>
        <input type="submit">
    </form>

    <h2>From cmov's personal collection</h2>
    <ul>
        <li>
            <a href="/image?text=What+do+I+want%3F+People++++++++++cannot+modify+the+API+without+my+consent.+Implementations+must++respect+API+contracts.+Otherwise+those+implementations+are%0D%0A++++illegal+and+I+could+sue+the++++++company+providing+them.">3rd Party API. Copyrights?</a>
        </li>
    </ul>
</body>

</html>